.change-list {
  margin-top: 3rem;
}

#author-chart {
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.object-tools {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}

#author-chart > div {
  max-width: 100%;
  overflow-x: auto;
}
